body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* White background */
    color: #00FDFF; /* Text color */
}

.top-navbar {
    background-color: #00FDFF; /* Navbar background color */
    padding: 6px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00FDFF; /* Border color */
}

.navbar {
    background-color: #00FDFF; /* Navbar background color */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons .nav-btn.large {
    padding: 12px 24px;
    font-size: 1.3em;
    font-weight: bold;
}

.nav-buttons .nav-btn.active {
    background-color: #ffffff; /* Active button background color */
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: bold;
    color: #00FDFF; /* Active button text color */
}

.nav-buttons .nav-btn, .nav-links .nav-lnk {
    background-color: transparent;
    color: #00FDFF; /* Button text color */
    padding: 8px 16px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 1em;
}
.btn-signup{
    background-color: #00FDFF; /* Button background color */
    color: #000000; /* Button text color */
    padding: 10px 20px;
    border: 2px solid #00FDFF; /* Button border color */
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;

}
.btn-signup:hover {
    color: #00FDFF; /* Button text color on hover */
    background-color: #000000; /* Button background color on hover */
}

.nav-lnk:hover, .profile:hover {
    background-color: #e0ffff; /* Hover background color */
    border-radius: 10px;
}

.nav-btn:hover {
    background-color: #e0ffff; /* Hover background color */
}

.main-container {
    border-left: 2px solid #00FDFF; /* Left border color */
    border-right: 2px solid #00FDFF; /* Right border color */
    border-radius: 10px 10px 0 0; /* Top left and top right corners rounded */
    padding: 10px;
    margin: 20px 10%;
    background-color: #111; !important;/* Main container background color */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.card {
    width: 30%; /* Adjusted to fit three cards per row */
    background-color: #000000; /* Card background color */
    margin: 10px 5px;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #00FDFF;
}

.card-body {
    padding: 15px;
    text-align: center;
    background-color: #000000;
    color: #e0ffff; /* Card text color */
    border: 1px solid #00FDFF;
    font-family: Iceland;
}

.players {
    font-size: 0.9em;
    color: #00FDFF; /* Players text color */
    margin-top: 5px;
}

.join-btn {
    background-color: #00FDFF; /* Button background color */
    border: none;
    color: #000000; /* Button text color */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
}

.join-btn:hover {
    background-color: #00bfff;
    color: #000; /* Hover button background color */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination button {
    background-color: #00FDFF;
    border: none;
    color: #000000;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #e0ffff;
}